.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
  }
  
#typePasswordX:focus {
    border-color: #ced4da; /* Match to the border color of your inputs */
    box-shadow: none;      /* Remove the default focus glow */
  }
  
#togglePassword {
    cursor: pointer;
  }
  

#typePasswordX2:focus {
    border-color: #ced4da;
    box-shadow: none; 
  }
  
#togglePassword2 {
    cursor: pointer;
  }