body {
    background: #E6F2FF;
}
.container {
    background-color: #E6F2FF;     
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}

.feature {
    margin-bottom: 30px;
}

.feature p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}