.form-control:focus {
    border-color: #ced4da; /* This should match your input's border color */
    box-shadow: none;      /* This removes the default focus glow */
  }
  

  #typePasswordX:focus {
    border-color: #ced4da; /* Match to the border color of your inputs */
    box-shadow: none;      /* Remove the default focus glow */
  }
  
  #togglePassword {
    cursor: pointer;
  }
  