{% extends "partials/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% trans "Change Password" %}{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/authentification.css' %}">
<link rel="stylesheet" href="{% static 'css/messages.css' %}">
<link rel="stylesheet" href="{% static 'css/two_password.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<section class="min-vh-100 d-flex gradient-custom align-items-center justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">

            <h2 class="fw-bold mb-3 text-uppercase">{% trans "Set New Password" %}</h2>
            <p class="text-white-50 mb-4">{% trans "Enter and confirm your new password." %}</p>

            <form method="POST">
              {% csrf_token %}
              <div class="form-outline form-white mb-4">
                {% if form.password1.errors %}
                <div class="form-error">{{ form.password1.errors.0 }}</div>
                {% endif %}
                
                <div class="input-group">
                  {{ form.password1 }}
                  <span class="input-group-text">
                      <i class="bi bi-eye-slash" id="togglePassword"></i>
                  </span>
                </div>
                <label class="form-label" for="typePasswordX"></label>
              </div>

              <div class="form-outline form-white mb-4">
                {% if form.password2.errors %}
                <div class="form-error">{{ form.password2.errors.0 }}</div>
                {% endif %}
                <div class="input-group">
                  {{ form.password2 }}
                  <span class="input-group-text">
                      <i class="bi bi-eye-slash" id="togglePassword2"></i>
                  </span>
                </div>
                <label class="form-label" for="typePasswordX2"></label>
              </div>

              <button class="btn btn-outline-light btn-lg mb-3 w-100" type="submit">{% trans "Set Password" %}</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#typePasswordX");

  togglePassword.addEventListener("click", function () {
      const type = password.getAttribute("type") === "password" ? "text" : "password";
      password.setAttribute("type", type);
      
      this.classList.toggle("bi-eye");
  });

</script>


<script>
const togglePassword2 = document.querySelector("#togglePassword2");
const password2 = document.querySelector("#typePasswordX2");

togglePassword2.addEventListener("click", function () {
    const type = password2.getAttribute("type") === "password" ? "text" : "password";
    password2.setAttribute("type", type);
    
    this.classList.toggle("bi-eye");
});

</script>

{% endblock content %}
